---
import location from '../assets/b-location.svg';
import reviews from '../assets/b-Reviews.svg';
import filter from '../assets/b-Filters.svg';
import offers from '../assets/b-Offers.svg';
import operators from '../assets/b-Operators.svg';
import Image from 'astro/components/Image.astro';
const washBuddyBenefits = [
    { image: location, title: 'Locate', description: 'Quickly locate nearby car washes with our real-time maps' },
    { image: reviews, title: 'Reviews and ratings', description: 'Read your neighbors’ experiences, see their real results' },
    { image: filter, title: 'Filters', description: 'Our team sorts through thousands of wash packages, chemicals, and industry innovations to give you the most powerful filters' },
    { image: offers, title: 'Save with special offers', description: 'Unlock exclusive discounts and deals to save on your next car wash!' },
    { image: operators, title: 'Operators', description: 'Car wash owners can connect with their customers and manage their offerings online' },
];
---

<div class="container mx-auto px-6 flex flex-col items-center justify-center min-h-[762px]">
    <div
  >
    <p class="mx-auto text-[38px] font-bold leading-[47.5px] text-center  decoration-skip-ink-none max-md:text-[28px]">
        Why choose WashBuddy?
    </p>
    <div class="flex flex-wrap justify-center pt-20 align-center max-md:pt-10">
        {
            washBuddyBenefits.map((benefit) => (
                <div class="w-[400px] h-[224px] flex flex-col items-center lg:my-4 lg:mx-4 max-lg:h-[197px] max-lg:w-full">
                    <Image
                        src={benefit.image}
                        format="svg"
                        alt=""
                        loading="lazy"
                        class="w-[48px] h-[48px] "
                    />
                    <h3 class="text-[24px] font-bold leading-[30px] m-4 text-[#27292C] max-md:text-[20px]">{benefit.title}</h3>
                    <p class="font-normal text-[16px] leading-[21.6px] text-center w-[352px] text-[#41454B]">{benefit.description}</p>
                </div>
            ))
        }
    </div>

</div>
    <button class="w-[269px] h-[48px] px-6 py-2 gap-2 rounded-md bg-[#189DEF] text-white font-bold text-[16px] mb-8 ">
        Find a Car Wash Near Me Now
    </button>
</div>
