---
import { Image } from "astro:assets";
import carwash from "../assets/Car_wash.svg";
import portal from "../assets/Portal.svg";
import portalblue from "../assets/Portal_b.svg";
---



<div class="container mx-auto flex md:py-20 md:px-6 gap-24 max-md:gap-16 max-md:flex-col max-md:p-6">
    <div class="w-1/2 flex flex-col gap-10 max-md:w-full">
        <p class="text-4xl font-bold leading-12 text-[#27292c] relative after:content-[url('../assets/star.svg')] after:absolute after:top-[-48px] after:right-[55px]">
            Power up your car wash business!
        </p>
        <p class="text-md font-normal leading-5 text-[#41454B]">
            Take control of your car wash’s online presence by claiming your listing on WashBuddy.com. Showcase your services, share verified pricing, upload photos, and respond to customer reviews—all from one convenient platform. With thousands of local customers searching for car washes near them, joining WashBuddy helps you stand out, attract more customers, and build trust in your brand. Don’t miss the opportunity to grow your business—claim your listing today!
        </p>
    </div>
    <div class="1/2 flex gap-4 max-md:w-full max-md:flex-col max-md:gap-5">
        <div class="p-6 rounded-3xl hover:shadow-[0px_4px_64px_0px_rgba(182,182,182,0.25)] flex flex-col justify-center items-center cursor-pointer max-h-[232px] max-md:shadow-[0px_4px_64px_0px_rgba(182,182,182,0.25)] max-md:h-[227px]"
        >
            <Image
          src={carwash}
          format="svg"
          alt={""}
          loading="lazy"
        />
        <span class="text-2xl font-bold leading-[30px] text-[#27292C] mt-1.5"
        >
            New Here
        </span>
        <p class="text-base font-normal text-[#27292C] my-[6px]"
        >
            List your car wash here 
        </p>
        <button class="bg-[#189DEF] px-6 py-2 rounded-lg text-[#F8FCFF] text-base font-semibold whitespace-nowrap max-md:w-full max-md:h-[48px] max-md:mt-2.5 cursor-pointer"
        >
            List your car wash
        </button>
        </div>
        <div class="p-6 rounded-3xl hover:shadow-[0px_4px_64px_0px_rgba(182,182,182,0.25)] flex flex-col justify-center items-center cursor-pointer max-h-[232px] max-md:shadow-[0px_4px_64px_0px_rgba(182,182,182,0.25)] max-md:h-[227px]"
        >
            <Image
          src={portal}
          format="svg"
          alt={""}
          loading="lazy"
          class="max-md:hidden"
        />
        <Image
        src={portalblue}
        format="svg"
        alt={""}
        loading="lazy"
         class="hidden max-md:block"
      />
        <span class="text-2xl font-bold leading-[30px] text-[#27292C]  mt-1.5"
        >
         Already listed
        </span>
        <p class="text-base font-normal text-[#27292C] my-[6px]"
        >
        Update your portal here 
        </p>
        <button class=" bg-[#189DEF] px-6 py-2 rounded-lg text-[#F8FCFF] text-base font-semibold whitespace-nowrap max-md:w-full max-md:h-[48px] max-md:mt-2.5 cursor-pointer"
        >
        Update your portal
        </button>
        </div>
    </div>
</div>