---
import { Image } from "astro:assets";
import drop_close from "../assets/drop_close.svg";
const Accordian_list = [
  { 
    title: "How can I find the best car wash near me?",
    answer: "Simply enable location access or enter your ZIP code to browse top-rated car washes nearby. Filter by price, amenities, wash type, or user ratings to find the perfect match."
  },
  { 
    title: "Can I compare car wash prices on this website?",
    answer: "Yes! You can view and compare prices for individual wash packages across locations—no more guessing or driving around to find the best deal."
  },
  { 
    title: "Are the reviews on your site trustworthy?",
    answer: "We are still working on implementing our review functionality. When it's up and running – we will bear it all. We are drivers first."
  },
  { 
    title: "Can I upload photos of car washes I visit?",
    answer: "Yes! Users can upload photos of wash bays, waiting areas, and signage to help others know what to expect before they go."
  },
  {
    title: "How do I know if a car wash offers specific services, like waxing or detailing?",
    answer: "Currently, our site is optimized to sort through core car wash features and options. Later, we will offer additional functionality to search value-added services."
  },
  { 
    title: "Is this website free to use?",
    answer: "Yes, the platform is completely free for users. You can browse, compare, and contribute without paying a cent."
  },
  { 
    title: "How can car wash owners update their listing information?",
    answer: "Owners can claim their listing and submit updates through our business portal; email our support team to get started."
  },
  { 
    title: "Can I earn rewards by contributing to this site?",
    answer: "Yes! We will be launching rewards functionality soon to earn freebies for just visiting your favorite car washes!"
  },
  { 
    title: "What makes this platform better than searching on Google Maps?",
    answer: "Unlike Google Maps, WashBuddy is built specifically for car washes. You can filter by wash type, compare real-time pricing, spot hidden deals, and view user-submitted insights."
  },
  { 
    title: "Does your website have a mobile app?",
    answer: "We will be launching a stand-alone mobile version soon. Until then, find great deals right here!"
  },
];
---

<div class="container mx-auto md:py-20 px-6 max-md:mb-4 max-md:p-6">
  <p
    class="text-4xl font-bold leading-12 text-[#27292C] mb-10 max-md:text-[28px] max-md:mb-5"
  >
    Frequently Asked Questions
  </p>
  <div>
    {
      Accordian_list.map((list) => (
        <div class="py-3.5 border-b border-[#E5E7E8]">
          <button class="accordion-header flex items-center justify-between w-full text-left text-xl font-bold cursor-pointer max-md:text-[18px]">
            <span>{list.title}</span>
            <Image
              src={drop_close}
              format="svg"
              alt="Expand"
              loading="lazy"
              class="accordion-icon transition-transform duration-300"
            />
          </button>
          <div class="accordion-content max-h-0 overflow-hidden transition-[max-height] duration-300 ease-out leading-5 text-[#41454B]">
            <p class="mt-1">{list.answer}</p>
          </div>
        </div>
      ))
    }
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const accordions = document.querySelectorAll(".accordion-header");
    accordions.forEach((accordion: any) => {
      accordion.addEventListener("click", () => {
        const content = accordion.nextElementSibling;
        const icon = accordion.querySelector(".accordion-icon");
        document.querySelectorAll(".accordion-content").forEach((item: any) => {
          if (item !== content) {
            item.style.maxHeight = null;
            item.previousElementSibling
              .querySelector(".accordion-icon")
              .classList.remove("rotate-180");
          }
        });
        if (content.style.maxHeight) {
          content.style.maxHeight = null;
          icon.classList.remove("rotate-180");
        } else {
          content.style.maxHeight = content?.scrollHeight + "px";
          icon.classList.add("rotate-180");
        }
      });
    });
  });
</script>
