---
import { Image } from "astro:assets";
import brand1 from "../assets/Brand1.svg";
import brand2 from "../assets/Brand2.svg";
import brand3 from "../assets/Brand3.svg";
import brand4 from "../assets/Brand4.svg";
import brand5 from "../assets/Brand5.svg";

const slides = [
  { image: brand1 },
  { image: brand2 },
  { image: brand3 },
  { image: brand4 },
  { image: brand5 },
];
---

<div
  class="flex flex-col item-center h-[434px] max-md:h-[634px] justify-center gap-[50px] text-center mx-auto font-bold text-[35px] text-[#27292C] max-md:text-[28px]"
>
  <p class="w-[70vw] max-md:w-[80vw] mx-auto">
    WashBuddy is your friend to help you find, compare, and save on local car
    washes!
  </p>

  <div class="relative w-full overflow-hidden bg-white py-2">
    
    <!-- Marquee Track (Duplicated for Seamless Loop) -->
    <div class="marquee flex flex-nowrap gap-[140px] w-max animate-marquee">
      {slides.concat(slides).concat(slides).map((slide, index) => (
        <Image
          src={slide.image}
          format="svg"
          alt="Brand logo"
          loading="lazy"
          class="h-[80px] w-auto object-contain"
        />
      ))}
    </div>

  </div>

</div>

<style>
  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-40%);
    }
  }

  .animate-marquee {
    display: flex;
    animation: marquee 30s linear infinite;
    min-width: 300%;
    white-space: nowrap;
  }
</style>
