---
import { Image } from "astro:assets";
import logo from "../assets/logo.svg";

---

<footer class="bg-[#F4F4F4] py-8">
  <div class="container mx-auto px-6">
    <div class="flex justify-between items-center">
      <div>
        <h2 class="text-3xl font-bold">
          <div class="flex items-center space-x-2 text-[#27292C]">
            <Image src={logo} format="svg" alt="WashBuddy Logo" loading="lazy" />
            <span>WashBuddy</span>
          </div>
        </h2>
      </div>
    </div>
    
    <div class="border-t border-[#E5E7E8] mt-6 pt-6 text-center">
      <p class="text-[16px] leading-[21.6px] text-[#27292C]">&copy; {new Date().getFullYear()} WashBuddy. All Rights Reserved.</p>
    </div>
  </div>
</footer>
