---
import { Image } from "astro:assets";
import logo from "../assets/logo.svg";
import gear from "../assets/gear-fine.svg";
import self from "../assets/self.svg";

const mainSiteURL = import.meta.env.PUBLIC_MAIN_PAGE_URL;
---

<header
  class="flex items-center justify-between px-[24px] py-[12px] sm:space-x-4 w-full"
>
  <div class="flex items-center gap-[20px] max-lg:gap-[15px]">
    <span class="cursor-pointer flex items-center gap-[8px]">
      <Image src={logo} format="svg" alt={""} loading="lazy" />
      <span class="font-bold hidden lg:block">Washbuddy</span>
    </span>
    <span
      class="hidden items-center border border-[#E5E7E8] px-[12px] py-[8px] rounded-[1000px] text-sm font-semibold gap-[4px] h-[36px] cursor-pointer lg:flex"
    >
      <Image src={gear} format="svg" alt={""} loading="lazy" />
      Automatic
    </span>
    <span
      class="hidden items-center border border-[#E5E7E8] px-[12px] py-[8px] rounded-[1000px] text-sm font-semibold gap-[4px] h-[36px] cursor-pointer lg:flex"
    >
      <Image src={self} format="svg" alt={""} loading="lazy" />
      Self-Service
    </span>
  </div>
  <a
    href={`${mainSiteURL}/login`}
    class="px-[24px] py-[8px] border border-[#41454B] rounded-[8px] h-[40px] text-sm font-semibold cursor-pointer"
  >
    Sign in
  </a>
</header>
