---
import FeaturedBrandsSection from "./FeaturedBrandsSection.astro";
import SearchSection from "./SearchSection.astro";
---

<div id="container">
  <SearchSection />
  <FeaturedBrandsSection />
</div>
