---
import BenefitsOverviewSection from "./BenefitsOverviewSection.astro";
import BusinessListingSection from "./BusinessListingSection.astro";
import FAQSection from "./FAQSection.astro";
import FeaturedBrandsSection from "./FeaturedBrandsSection.astro";
import ResearchHighlightsSection from "./ResearchHighlightsSection.astro";
import SearchSection from "./SearchSection.astro";
---

<div id="container">
  <SearchSection />
  <FeaturedBrandsSection />
  <BenefitsOverviewSection />
  <ResearchHighlightsSection />
  <BusinessListingSection/>
  <FAQSection/>
</div>



