---
import BenefitsOverviewSection from "./BenefitsOverviewSection.astro";
import FeaturedBrandsSection from "./FeaturedBrandsSection.astro";
import ResearchHighlightsSection from "./ResearchHighlightsSection.astro";
import SearchSection from "./SearchSection.astro";
---

<div id="container">
  <SearchSection />
  <FeaturedBrandsSection />
  <BenefitsOverviewSection />
  <ResearchHighlightsSection />
</div>
