---
import SplideCarousel from "./ResearchSlider";
---
<div class="bg-[#F8FCFF] bg-[url('../assets/list_bg_left.svg'),url('../assets/list_bg_right.svg')] bg-no-repeat overflow-hidden" style="background-position: left,right;">
    <div class="container mx-auto px-6 flex flex-col items-center justify-center md:py-20">
        <h2 class="font-bold text-4xl leading-[47.5px] text-center text-[#27292C] max-lg:text-[28px] max-lg:mx-0 max-lg:mt-5 mb-4">Why Data-Driven Car Washes Win More Customers</h2>
         <span class="text-[28px] font-bold border border-[#189DEF] px-4 py-2 rounded-full text-[#189DEF] my-6 bg-white leading-[35px] max-lg:text-[18px]">
            Visibility to 9M car owners
        </span>  
        <div class="w-[100vw] overflow-x-hidden max-lg:px-5 "  onmouseenter="this.style.overflowX='auto'" onmouseleave="this.style.overflowX='hidden'">
            <div class="  gap-2 mb-3.5 max-lg:gap-2 max-lg:flex-col highlight-caraosel ">
                <SplideCarousel client:load />
            </div>
        </div> 
    </div>
</div>
<style>
    
    </style>