---
import { Image } from "astro:assets";
import left_car from "../assets/left_car.svg";
import right_car from "../assets/right_car.svg";
import search_icon from "../assets/search_icon.svg";
import location from "../assets/location.svg";
---

<div class="w-full h-[621px] md:h-[520px]">
  <div class="w-full h-[480px] md:h-[373px] bg-[#f7fcff]">
    <div
      class="relative md:flex md:items-center md:justify-between w-full h-[480px] md:h-[373px] bg-[url('../assets/bg_dots.svg')] bg-no-repeat bg-cover bg-center"
    >
      <div
        class="absolute w-[163px] h-[152px] left-0 bottom-[-20px] md:left-auto md:bottom-auto md:relative md:w-[326px] md:h-[305px] before:w-full before:h-full before:bg-[#ffffff30] before:absolute"
      >
        <Image
          src={left_car}
          format="svg"
          alt={""}
          loading="lazy"
          class="w-full h-full"
        />
      </div>
      <div
        class="flex flex-col gap-2 items-center justify-center w-full p-[15px] md:p-0"
      >
        <h1
          class="text-neutral-900 font-bold text-[32px] text-center lg:text-[48px]"
        >
          Find the <span class="text-[#189DEF]"
            >Best Local Car Washes Near You
          </span>Compare Prices & Reviews
        </h1>
        <p class="text-neutral-900 text-center text-[16px]">
          Discover top-rated car washes near you with real reviews, pricing, and
          photos. Compare features and find the perfect wash today!
        </p>
      </div>
      <div
        class="absolute w-[221px] h-[131px] right-0 bottom-0 md:right-auto md:bottom-auto md:relative md:w-[442px] md:h-[232px] before:content-[''] before:w-full before:h-full before:bg-[#ffffff30] before:absolute"
      >
        <Image
          src={right_car}
          format="svg"
          alt={""}
          loading="lazy"
          class="w-full h-full"
        />
      </div>
    </div>
  </div>
  <div
    class="flex justify-center w-full h-[237px] md:h-[243px] p-[16px] md:p-0"
  >
    <div
      class="w-full md:w-[60vw] h-[205px] md:h-[195px] md:mt-[-50px] drop-shadow-xl flex flex-col gap-4 bg-white p-[16px] md:p-[24px] rounded-[24px]"
    >
      <div
        class="flex items-center gap-[8px] rounded-[100px] p-[8px] border border-blue-500"
      >
        <Image
          src={search_icon}
          format="svg"
          alt={""}
          loading="lazy"
          class="w-[16.27px] h-[16.27px]"
        />
        <input
          type="search"
          placeholder="Search wash prices by city/zip"
          class="w-full border-none focus:border-none focus:outline-none text-neutral-900"
        />
      </div>
      <div class="flex items-center gap-[12px] text-neutral-500 text-[14px]">
        <span>Recent</span>
        <div class="results-hidden overflow-auto">
          <div class="flex items-center gap-[8px] whitespace-nowrap">
            <div class="bg-neutral-50 rounded-[1000px] p-[10px]">
              123 Main St, Downtown, NY
            </div>
            <div class="bg-neutral-50 rounded-[1000px] p-[10px]">
              123 Main St, Downtown, NY
            </div>
            <div class="bg-neutral-50 rounded-[1000px] p-[10px]">
              123 Main St, Downtown, NY
            </div>
            <div class="bg-neutral-50 rounded-[1000px] p-[10px]">
              123 Main St, Downtown, NY
            </div>
          </div>
        </div>
      </div>

      <div class="w-full flex flex-col md:flex-row items-center justify-center">
        <p class="text-[16px]">Or click to detect your location</p>
        <div class="flex items-center justify-center gap-[8px] w-[156px]">
          <Image
            src={location}
            format="svg"
            alt={""}
            loading="lazy"
            class="w-[20px] h-[20px]"
          />
          <p class="text-neutral-700">Downtown, NY</p>
        </div>
      </div>
    </div>
  </div>
</div>
